<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <h2>当前技术：{{counter}}</h2>
    <!--以前是命令时的，需要拿这个button元素然后又要监听事件什么的-->
    <button v-on:click="add">+</button>
    <button v-on:click="sub">-</button>
</div>
<script src="../vue.js"></script>
<script>

    const app = new Vue({
        el: '#app',
        data: {
            counter: 0,
        },
        methods: {
            add: function() {
                console.log('add被执行');
                this.counter++;
            },
            sub: function() {
                console.log('sub被执行');
                this.counter--;
            },
        },
        created:function () {
            console.log('会回调:created');
        },
        mounted:function () {
            console.log('会回调:mounted');
        },
        beforeCreate:function () {
            console.log('会回调:beforeCreate')
        }
    });

</script>
</body>
</html>